header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 232, 217);
  padding: 0 7vw;
  height: 60px;
  border-bottom: 2px solid rgb(252, 196, 124);
  box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-container input {
  padding: 0.3rem 1.5rem 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-button {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  color: #555;
}
 body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 232, 217);
}
.nav-left a {
  color: black;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.nav-left a:hover {
  background-color: rgb(252, 196, 124);
  color: white;
}
.red_btn {
  cursor: pointer;
  margin-top: 20px;
  width: 160px;
  font-weight: bold;
  color: aliceblue;
  line-height: 50px;
  background-color: rgb(253, 77, 8);
  border-radius: 5px;
  border: 1px solid rgb(253, 77, 8);
  box-shadow: 0 10px 15px rgb(250, 120, 69);
  transition: all 0.2s ease;
}

.red_btn:hover {
  background-color: white;
  color: rgb(255,77,8); 
  border: 0 12px 15px rgb(253,77,8);
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 7vw;
  gap: 3rem;
  flex-wrap: wrap;
  flex-direction: row; /* บนหน้าจอใหญ่ */
}

.main-text {
  flex: 1;
  min-width: 280px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.kumkom {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.image {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.img {
  width: 100%;
  max-width: 800px;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
    text-align: center;
  }

  .main-text {
    order: 2;
  }

  .image {
    order: 1;
  }
}
.recommend-menu {
  margin: 70px auto;
  padding:60px; 
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px; 
  flex-wrap: wrap;
  max-width: 1200px;
}


.re-menu {
  flex: 1;
  width: 250px;
  text-align: center;
}

.re-menu img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.re-menu h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.re-menu p {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 1.5rem;
}
